.Wrap {
  margin: 25px auto;
  align-items: center;
  align-content: center;
}

.H1 {
  align-self: center;
}

.Swiper {
  width: 500px;
  height: 320px;
  margin: 25px auto;
}

.Img {
  width: 100%;
  height: auto;
}

.Subtitle {
  color: #1976d2;
  text-align: center;
}
